<h1>Edit Director <%= @director.id %></h1>

<form action="/update_director/<%= @director.id %>">
  <div>
    <label for="image_input">
      Image url
    </label>

    <input id="image_input" type="text" name="the_image" value="<%= @director.image_url %>">
  </div>
  
  <div>
    <label for="name_input">
      Name
    </label>

    <input id="name_input" type="text" name="the_name" value="<%= @director.name %>">
  </div>

  <div>
    <label for="bio_input">
      Bio
    </label>

    <input id="bio_input" type="text" name="the_bio" value="<%= @director.bio %>">
  </div>

  <div>
    <label for="dob_input">
      Dob
    </label>

    <input id="dob_input" type="text" name="the_dob" value="<%= @director.dob %>">
  </div>
  

  <button>
    Update Director
  </button>
</form>