<h1>All directors</h1>

<a href="/directors/new">
  Add a new director
</a>

<% @list_of_directors.each do |the_dir| %>
  <div class="thumbnail">
    <img src="<%= the_dir.image_url %>">

    <div class="caption">
         <p><%= the_dir.name %></p>
         <p>Bio: <%= the_dir.bio %></p>
         <p>Date of Birth: <%= the_dir.dob %></p>
         <p>Image URL: <%= the_dir.image_url %></p>
         
         <a href="/directors/<%= the_dir.id %>" class="btn btn-default btn-block">
          Show Details
        </a>

        <a href="/directors/<%= the_dir.id %>/edit" class="btn btn-default btn-block">
          Edit
        </a>

        <a href="/delete_director/<%= the_dir.id %>" class="btn btn-default btn-block">
          Delete
        </a>
    </div>
  </div>
<% end %>