<h1>Movie Details</h1>

<p>
  <%= @mov.title %>
</p>

<img src="<%= @mov.image_url %>">
<p>Description: <%= @mov.description %></p>
<p>Year made: <%= @mov.year %></p>
<p>Duration: <%= @mov.duration %> minutes</p>
<p>Image url: <%= @mov.image_url %></p>
<p>
  <%= time_ago_in_words(@mov.created_at) %> ago
</p>

<a href="/movies" class="btn btn-default">
  Go back
</a>

<a href="/movies/<%= @mov.id %>/edit" class="btn btn-default">
  Edit movie
</a>

<a href="/delete_movie/<%= @mov.id %>" class="btn btn-default">
  Delete movie
</a>